---
import { Icon } from "astro-icon";
---

<div class="card">
  <div class="card-content">
    <div class="columns is-mobile">
      <div class="column is-1-desktop is-2-mobile">
        <Icon size={32} name="eva:github-outline" />
      </div>
      <div class="column is-10-desktop is-9-mobile">
        <h6>aaaaa</h6>
      </div>
    </div>


    <div class="content">
      Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec
      id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
      consectetur purus sit amet fermentum.
    </div>
  </div>
</div>

<style>
  .card {
    border: 3px solid #646464;
    border-radius: 10px;
    padding: 15px;
  }
</style>
