---
import { Icon } from "astro-icon/components";

interface Props {
  id: number;
  full_name: string;
  html_url: string;
  description: string;
}

const { id, full_name, html_url, description } = Astro.props;
---

<div class="card" id={String(id)}>
  <div class="card-content">
    <div class="columns is-variable is-5-desktop is-6-mobile is-mobile">
      <div class="column is-1-desktop is-2-tablet is-1-mobile">
        <Icon size={32} name="fa6-brands:github" />
      </div>
      <div class="column is-9-desktop is-7-mobile">
        <a href={html_url}>
          <h6 class="is-size-5-desktop is-size-6-tablet is-size-6-mobile">
            {full_name}
          </h6>
        </a>
      </div>
    </div>

    <div class="content min-14-vh">
      <p>{description}</p>
    </div>
  </div>
</div>
