---
import Hero from "../common/Hero.astro";
---

<section class="has-text-centered mt-6">
  <Hero
    title="Projects"
    titleSize="is-size-1"
    titleSizeMobile="is-size-2"
    subtitle="Some projects that I've build!"
    subtitleSize="is-size-4"
    subtitleSizeMobile="is-size-5"
  />
</section>
