//Bulma
@import "bulma/css/bulma.css";

//Utils
@import "./utils/font.scss";
@import "./utils/mixins.scss";
@import "./utils/colors.scss";
@import "./utils/layout.scss";
@import "./utils/general.scss";
@import "./utils/animations.scss";

//Components
@import "./components/navbar.scss";
@import "./components/button.scss";
@import "./components/footer.scss";
@import "./components/list.scss";
@import "./components/card.scss";
@import "./components/scrollBar.scss";
@import "./components/pages.scss";
@import "./components/tag.scss"; 
@import "./components/modal.scss"; 
@import "./components/oramaBox.scss"; 