---
import { getCollection, CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("post");

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<h1>{post.data.title}</h1>
<Content />
