---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/common/Hero.astro";
---

<BaseLayout
  title="Blog"
  description="I write articles about the technologies I use the most"
>
  <section class="has-text-centered mt-6">
    <Hero
      title="My personal Blog"
      titleSize="is-size-2"
      titleSizeMobile="is-size-3"
      subtitle="I write articles about the technologies I use the most and share my experiences!"
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
    />
  </section>
</BaseLayout>
