---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/common/Hero.astro";
import BlogCard from "../../components/blog/BlogCard.astro";
import { fetchCollection } from "../../utils/blog";

const posts = await fetchCollection();
---

<BaseLayout
  pageTitle="Blog"
  pageDescription="I write articles about the technologies I use the most"
>
  <section class="has-text-centered mt-6">
    <Hero
      title="Blog"
      titleSize="is-size-2"
      titleSizeMobile="is-size-3"
      subtitle="I write articles about the technologies I use the most and share my experiences!"
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
    />
  </section>
  <section class="has-text-centered container mx-auto mt-6 mb-6">
    <div class="columns is-multiline">
      <div class="column is-12">
        {
          posts.map((post) => (
            <div class="mb-6">
              <BlogCard
                title={post.data.title}
                date={post.data.date}
                description={post.data.description}
                slug={"/blog/" + post.slug}
                devLink={post.data.devLink}
              />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
