---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/common/Hero.astro";
---

<BaseLayout title="Blog" description="I write articles about the technologies I use the most">
  <section class="has-text-centered mt-6">
    <Hero
      title="My personal Blog"
      subtitle="I write articles about the technologies I use the most"
    />
  </section>
</BaseLayout>
