//Brand Colors
$primary: #ffa500;
$secondary: #ffc862;
//Other
$dark-gray: #1f1f1f;
$gray: #303030;
$light-gray: #646464;
$black: #000;
$white: #fff;

//Color
.astro-c-primary {
  color: $primary !important;
}
.dark-gray {
  color: $dark-gray !important;
}
.gray {
  color: $gray !important;
}
.light-gray {
  color: $light-gray !important;
}
.black {
  color: $black !important;
}
