$orange: #ffa500;
$dark-orange: #ff8b1e;
$light-orange: #ffc862;
$dark-gray: #1f1f1f;
$gray: #303030;
$light-gray: #646464;
$black: #000;
$white: #fff;

//Color
.dark-gray {
  color: $dark-gray !important;
}

.gray {
  color: $gray !important;
}

.light-gray {
  color: $light-gray !important;
}

.dark-orange {
  color: $dark-orange !important;
}

.black{
  color: $black !important;
}