@use "mixins";

@import "colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap");

h1 {
  @include mixins.generate-font("Prompt", bold, 2.7rem);
  @extend .tertiary-color;
}

h2 {
  @include mixins.generate-font("Prompt", bold, 2.2rem);
  @extend .tertiary-color;
}

h3 {
  @include mixins.generate-font("Prompt", bold, 2rem);
  @extend .tertiary-color;
}

h4 {
  @include mixins.generate-font("Prompt", bold, 1.7rem);
  @extend .quaternary-color;
}

h5 {
  @include mixins.generate-font("Prompt", bold, 1.5rem);
  @extend .quaternary-color;
}

h6 {
  @include mixins.generate-font("Prompt", bold, 1.3rem);
  @extend .quaternary-color;
}

p {
  @include mixins.generate-font("Prompt", normal, 1.1rem);
  @extend .quinary-color;
}

a {
  @include mixins.generate-font("Prompt", normal, 1.1rem);
  @extend .quinary-color;
}

//Size
.f-size-17 {
  font-size: 1.7rem !important;
}

//Weight
.f-600 {
  font-weight: 600 !important;
}
.f-normal {
  font-weight: normal !important;
}

//Decoration
.underline {
  text-decoration: underline;
}

//Global
* {
  @include mixins.generate-font("Prompt", normal, 1.1rem);
}
