.overflow-auto {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.fill-general{
  fill: $tertiary !important;
}
.is-sticky {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 1000;
} 