//Height
.min-18-vh {
  min-height: 18vh;
}
.min-23-vh {
  min-height: 23vh;
}
.min-100-vh {
  min-height: 100vh;
}
.h-75 {
  height: 75vh;
}

//Width
.w-100 {
  width: 100%;
}

//COLUMN
.columns {
  margin: 0;
}
