@use "../utils/colors.scss" as colors;

.button {
  transition: all 0.3s ease;
  &.is-rounded {
    border: none;
    padding-left: 12px;
    padding-right: 12px;
  }

  &.button:focus {
    box-shadow: 0 0 0 0.125em colors.$light-orange;
  }

  &.is-primary {
    background-color: colors.$orange;
    &.is-light {
      background-color: colors.$white;
      color: colors.$orange;
      border: 1px solid colors.$orange;
    }

    &.is-primary:hover {
      background-color: colors.$light-orange;
      color: colors.$white;
      border: 1px solid colors.$light-orange;
      &.is-light:hover {
        background-color: colors.$orange;
        color: colors.$white;
        border: 1px solid colors.$orange;
      }
    }

    &.is-primary:active {
      background-color: colors.$light-orange;
      color: colors.$white;
      border: 1px solid colors.$light-orange;
      &.is-light:active {
        background-color: colors.$orange;
        color: colors.$white;
        border: 1px solid colors.$orange;
      }
    }

    &.is-primary:focus:not(:active) {
      box-shadow:0 0 0 0.125em colors.$light-orange;
    }
  }
}
