.card {
    box-shadow: none;
    padding: 0;
    .card-header {
        box-shadow: none;
        .card-header-title {
            padding: 0.5rem 0.25rem;
        }
    }
    .card-content {
        padding: 0.5rem 0.25rem;
    }
    .card-image:first-child img {
        border-radius: 1rem;
    }
}
