@use "../utils/colors.scss" as colors;

.card {
  box-shadow: none;
  padding: 0;
  border: 0.1875rem solid #646464;
  border-radius: 0.625rem;
  padding: 0.9375rem;
  background-color: colors.$white; 
  .card-header {
    box-shadow: none;
    .card-header-title {
      padding: 0.5rem 0.25rem;
    }
  }
  .card-content {
    padding: 0.5rem 0.25rem;
    overflow: hidden;
  }
  .media-content {
    overflow: hidden;
  }
  .card-image:first-child img {
    border-radius: 1rem;
  }
}
