@use "../utils/colors.scss" as colors;

.navbar {
  background-color: colors.$white;
  .navbar-item:hover,
  .navbar-item:focus,
  .navbar-item:active {
    background-color: colors.$white;
    color: colors.$primary !important;
  }
  .navbar-menu {
    box-shadow: none;
     background-color: colors.$white;
  }
  .navbar-burger:hover {
    background-color: colors.$white;
  }
}
