---
import { t, changeLanguage } from "i18next";
import BaseLayout from "../layouts/BaseLayout.astro";

changeLanguage("en");
---

<BaseLayout pageTitle={t("site.notFoundPageTitle")!} pageDescription={t("site.notFoundPageDescription")!}>
  <section class="has-text-centered mt-6">
    <h1 class="is-size-1 is-size-3-mobile">{t("site.notFoundTitle")}</h1>
    <p class="is-size-3 is-size-4-mobile">{t("site.notFoundDescription")}</p>
  </section>
</BaseLayout>
