---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Error 404 😵" pageDescription="Sorry, this page doesn't exist.">
  <section class="has-text-centered mt-6">
    <h1 class="is-size-1 is-size-3-mobile">Sorry...</h1>
    <p class="is-size-3 is-size-4-mobile">This page doesn't exist 😵</p>
  </section>
</BaseLayout>
