---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/common/Hero.astro";
import Button from "../components/common/Button.astro";
---

<BaseLayout
  pageTitle="Home"
  pageDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, cupiditate. Sit consequuntur, quas voluptate quidem facere ipsum doloremque! Possimus deserunt eos voluptatibus molestias, minima id dolorum excepturi doloremque odit repudiandae?"
>
  <section class="column is-6-desktop is-12-tablet fade-in">
    <Hero
      title="Hello I'm John! 👋"
      titleSize="is-size-1"
      titleSizeMobile="is-size-2"
      subtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit reiciendis accusamus deleniti at explicabo? Sunt ad voluptates ipsam sequi velit!"
      subtitleSize="is-size-3"
      subtitleSizeMobile="is-size-5"
      size="is-large"
    >
      <div class="columns is-variable">
        <div class="column is-6-desktop">
          <a href="/blog"><Button size="is-large" label="Read my blog" /></a>
        </div>
        <div class="column is-6-desktop">
          <a href="/opensource"
            ><Button
              size="is-large"
              bgColor="is-primary is-light"
              label="Open Source"
            /></a
          >
        </div>
      </div>
    </Hero>
  </section>
</BaseLayout>
<style scoped>
  .columns {
    margin-inline-start: calc(-1 * var(--bulma-column-gap));
    margin-inline-end: calc(-1 * var(--bulma-column-gap));
    margin-top: calc(-1 * var(--bulma-column-gap));
  }
</style>
