---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/common/Hero.astro";
import Card from "../components/common/Card.astro";

import { indexData } from "../utils/variables";

const { title, description } = indexData;
---

<BaseLayout title={title} description={description}>
  <section class="column is-6-desktop is-12-tablet">
    <Hero
      title="Hello I'm Domenico! 👋"
      titleSize="is-size-2"
      titleSizeMobile="is-size-2"
      subtitle="Software developer passionate about the IT world and everything related to it. I write technical articles to share my experiences and knowledge."
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
      size="is-medium"
    />
  </section>

  <section class="m-6">
    <h2 class="light-gray">Latest Article</h2>
    <a href="/blog">Read all my articles 👉</a>
    <div class="mt-6">
      <div class="columns is-desktop">
        <div class="column is-3-desktop is-12-tablet">
          <Card />
        </div>

        <div class="column is-3-desktop is-12-tablet">
          <Card />
        </div>

        <div class="column is-3-desktop is-12-tablet">
          <Card />
        </div>

        <div class="column is-3-desktop is-12-tablet">
          <Card />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
