---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Hello!">
  <h1>Hello I'm Domenico! :)</h1>
  <h2>Hello I'm Domenico! :)</h2>
  <h3>Hello I'm Domenico! :)</h3>
  <h4>Hello I'm Domenico! :)</h4>
  <h5>Hello I'm Domenico! :)</h5>
  <h6>Hello I'm Domenico! :)</h6>
  <p>Hello I'm Domenico! :)</p>
</BaseLayout>
