---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/common/Hero.astro";
import Button from "../components/common/Button.astro";
---

<BaseLayout title="Software Developer" description="Hi nice to meet you! I'm Domenico and I'm a Software Developer.">
  <section class="column is-6-desktop is-12-tablet">
    <Hero
      title="Hello I'm Domenico! 👋"
      titleSize="is-size-1"
      titleSizeMobile="is-size-2"
      subtitle="Software developer passionate about the IT world and everything related to it. I write technical articles to share my experiences and knowledge."
      subtitleSize="is-size-3"
      subtitleSizeMobile="is-size-5"
      size="is-large"
    >
      <div class="columns">
        <div class="column is-6-desktop">
          <a href="/blog"><Button size="is-large" label="Read my blog" /></a>
        </div>
        <div class="column is-6-desktop">
          <a href="/opensource"
            ><Button
              size="is-large"
              bgColor="is-primary is-light"
              label="Open Source"
            /></a
          >
        </div>
      </div>
    </Hero>
  </section>
</BaseLayout>
