---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/common/Hero.astro";
---

<BaseLayout
  title="Open Source"
  description="Some Open Source projects that I've contributed!"
>
  <section class="has-text-centered mt-6">
    <Hero title="Open Source" subtitle="Some projects that I've contributed" />
  </section>
</BaseLayout>
