---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/common/Hero.astro";
import GitCard from "../components/opensource/GitCard.astro";
---

<BaseLayout title="Open Source" description="Some Open Source projects that I've contributed!">
  <section class="has-text-centered mt-6">
    <Hero
      titleSize="is-size-2"
      titleSizeMobile="is-size-3"
      title="Open Source"
      subtitle="Some projects that I've contributed"
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
    />
  </section>
  <section class="columns is-multiline mx-auto mt-6 mb-6">
    <div class="column is-one-third">
      <GitCard />
    </div>
    <div class="column is-one-third">
      <GitCard />
    </div>
    <div class="column is-one-third">
      <GitCard />
    </div>
    <div class="column is-one-third">
      <GitCard />
    </div>
    <div class="column is-one-third">
      <GitCard />
    </div>
    <div class="column is-one-third">
      <GitCard />
    </div>
  </section>
</BaseLayout>
