---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/common/Hero.astro";

import { openSourceData } from "../utils/variables";

const { title, description } = openSourceData;
---

<BaseLayout title={title} description={description}>
  <section class="has-text-centered mt-6">
    <Hero title="Open Source" subtitle="Some projects that I've contributed" />
  </section>
</BaseLayout>
