---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/common/Hero.astro";
import Button from "../../components/common/Button.astro";
import { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

changeLanguage("it");
---

<BaseLayout
  pageTitle={t("home.pageTitle")!}
  pageDescription={t("home.pageDescription")!}
>
  <section class="column is-6-desktop is-12-tablet fade-in">
    <Hero
      title={t("home.title")}
      titleSize="is-size-1"
      titleSizeMobile="is-size-2"
      subtitle={t("home.subtitle")}
      subtitleSize="is-size-3"
      subtitleSizeMobile="is-size-5"
      size="is-large"
    >
      <div class="columns is-variable">
        <div class="column is-6-desktop">
          <a href={localizePath("/blog")}
            ><Button size="is-large" label={t("home.blogBtn")} /></a
          >
        </div>
        <div class="column is-6-desktop">
          <a href={localizePath("/opensource")}
            ><Button
              size="is-large"
              bgColor="is-primary is-light"
              label={t("home.openSourceBtn")}
            /></a
          >
        </div>
      </div>
    </Hero>
  </section>
</BaseLayout>
<style scoped>
  .columns {
    margin-inline-start: calc(-1 * var(--bulma-column-gap));
    margin-inline-end: calc(-1 * var(--bulma-column-gap));
    margin-top: calc(-1 * var(--bulma-column-gap));
  }
</style>
