---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/common/Hero.astro";
import GitCard from "../../components/opensource/GitCard.astro";

import repArray from "../../data/open-source-projects.json";
---

<BaseLayout
  pageTitle="Lorem Ipsum"
  pageDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, cupiditate. Sit consequuntur, quas voluptate quidem facere ipsum doloremque! Possimus deserunt eos voluptatibus molestias, minima id dolorum excepturi doloremque odit repudiandae?"
>
  <section class="has-text-centered mt-6">
    <Hero
      titleSize="is-size-2"
      titleSizeMobile="is-size-3"
      title="Open Source"
      subtitle="This is the open source section where there is a list of projects."
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
    />
  </section>
  <section class="columns is-multiline mx-auto mt-6 mb-6">
    {
      repArray.map((item) => {
        return (
          <div class="column is-one-third-desktop is-6-tablet fade-in">
            <GitCard
              id={item.id}
              full_name={item.full_name}
              html_url={item.html_url}
              description={item.description}
            />
          </div>
        );
      })
    }
  </section>
</BaseLayout>
