---
import { t, changeLanguage } from "i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/common/Hero.astro";
import GitCard from "../../components/opensource/GitCard.astro";
import repArray from "../../data/open-source-projects.json";

changeLanguage("en");
---

<BaseLayout
  pageTitle={t("opensource.pageTitle")!}
  pageDescription={t("opensource.pageDescription")!}
>
  <section class="has-text-centered mt-6">
    <Hero
      titleSize="is-size-2"
      titleSizeMobile="is-size-3"
      title={t("opensource.title")!}
      subtitle={t("opensource.subtitle")!}
      subtitleSize="is-size-4"
      subtitleSizeMobile="is-size-5"
    />
  </section>
  <section class="columns is-multiline mx-auto mt-6 mb-6">
    {
      repArray.map((item) => {
        return (
          <div class="column is-one-third-desktop is-6-tablet fade-in">
            <GitCard
              id={item.id}
              full_name={item.full_name}
              html_url={item.html_url}
              description={item.description}
            />
          </div>
        );
      })
    }
  </section>
</BaseLayout>
