---
import { type Size } from "../../types/types";

interface Props {
  label: string;
  bgColor?: string;
  size?: Size;
}

const { label, bgColor = "is-primary", size = "is-medium" } = Astro.props;
---

<button class:list={["button", bgColor, size, "w-100"]}>{label}</button>
