---
---

<div class="card">
  <div class="card-image">
    <figure class="image is-16by9">
      <img
        src="https://picsum.photos/200/300"
        alt="Placeholder image"
      />
    </figure>
  </div>
  <header class="card-header">
    <h5 class="card-header-title light-gray">Card header</h5>
  </header>

  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
      iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a>
      <a href="#">#responsive</a>
    </div>
  </div>

</div>
