---
import SocialBar from "../utils/SocialBar.astro";
---

<footer class="footer">
  <div class="content has-text-centered">
    <div class="mb-4 is-flex is-justify-content-center">
      <SocialBar />
    </div>
    <p>
      Released under the
      <a
        class="dark-orange"
        href="https://github.com/DomeT99/my-website/blob/master/LICENSE"
        >MIT License</a
      >.
    </p>
  </div>
</footer>
