---
import SocialBar from "./SocialBar.astro";

const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="content has-text-centered">
    <div class="mb-4 is-flex is-justify-content-center">
      <SocialBar />
    </div>
    <p>
      <a href="https://linktr.ee/domenicotenace">© Domenico Tenace {year}</a>
    </p>
  </div>
</footer>
