---
import { type Size, type TextSize } from "../../types/components";

export interface Props {
  title: string;
  titleSize?: TextSize;
  titleSizeMobile?: TextSize;
  subtitle: string;
  subtitleSize?: TextSize;
  subtitleSizeMobile?: TextSize;
  size?: Size;
}

const {
  title,
  titleSize = "is-size-3",
  titleSizeMobile = "is-size-4",
  subtitle,
  subtitleSize = "is-size-5",
  subtitleSizeMobile = "is-size-6",
  size = "is-small",
} = Astro.props;
---

<section class:list={["hero", size]}>
  <div class="hero-body">
    <h1
      class:list={["title", titleSize, titleSizeMobile + "-mobile"]}
      class="title"
    >
      {title}
    </h1>
    <p class:list={["subtitle", subtitleSize, subtitleSizeMobile + "-mobile"]}>
      {subtitle}
    </p>
    <slot />
  </div>
</section>