---
import { Icon } from "astro-icon/components";
import socialButtons from "../../data/social-buttons.json";
---

<ul class="is-flex is-flex-direction-row">
  {
    socialButtons.map((button) => {
      return (
        <li class="p-2">
          <a class="button is-rounded bg-social-btn" href={button.url} aria-label={"Follow John on " + button.name}>
            <Icon size={32} name={button.icon} />
          </a>
        </li>
      );
    })
  }
</ul>
<style>
  .button {
    border: none !important;
  }
</style>
