---
---

<section class="hero is-medium">
  <div class="hero-body">
    <div class="column">
      <h1 class="title is-size-2-mobile">Hello I'm Domenico! 👋</h1>
    </div>
    <div class="column is-6">
      <p class="subtitle is-size-4 is-size-5-mobile">
        Software developer passionate about the IT world and everything related
        to it. I write technical articles to share my experiences and knowledge.
      </p>
    </div>
  </div>
</section>
