---
---

<section class="hero is-medium">
  <div class="hero-body">
    <div class="column">
      <h1 class="title">Hello I'm Domenico! 👋</h1>
    </div>
    <div class="column is-6">
      <p class="subtitle">
        Software Developer always looking for new challenges. I
        contribute to Open Source projects, write technical articles and publish
        videos on YouTube to share what I learn.
      </p>
    </div>
  </div>
</section>
