---
import DefaultLayout from "./DefaultLayout.astro";
import i18next from "i18next";
import { SEO } from "astro-seo";

export interface Props {
  pageTitle?: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<!doctype html>
<html lang={i18next.language} data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle?.includes("404") ? pageTitle : `John Doe - ${pageTitle}`}
      description={pageDescription}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
  </head>
  <body>
    <DefaultLayout>
      <section class="min-100-vh">
        <slot />
      </section>
    </DefaultLayout>
  </body>
</html>
