---
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
import LangButton from "../components/common/LangButton.vue";
import "../assets/style/main.scss";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <LangButton client:visible />
  </body>
</html>
<script>
  import { getTheme } from "../utils/theme";
  document.addEventListener("DOMContentLoaded", () => getTheme());
</script>
