---
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
import { SEO } from "astro-seo";
import "../assets/style/main.scss";
import "../assets/style/components/post.scss";

export interface Props {
  pageTitle: string;
  pageDescription: string;
  postTitle: string;
}

const {
  pageTitle,
  pageDescription,
  postTitle,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={pageTitle}
      description={pageDescription}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />
  </head>
  <body>
    <Navbar />
    <section class="min-100-vh container mt-6 mb-6">
      <header class="has-text-centered mr-4 ml-4 m-6-desktop">
        <h1 class="is-size-1-desktop is-size-2-tablet is-size-4-mobile black">
          {postTitle}
        </h1>
      </header>
      <section
        class="mr-6-desktop ml-6-desktop mr-6-tablet ml-6-tablet ml-4 mr-4"
      >
        <slot />
      </section>
    </section>
    <Footer />
  </body>
</html>
