---
import { Icon } from "astro-icon";
import { socialButtons } from "../../utils/data";
---

<ul class="is-flex is-flex-direction-row">
  {
    socialButtons.map((button) => {
      return (
        <li class="p-2">
          <a class="button is-rounded" href={button.url}>
            <Icon size={32} name={button.icon} />
          </a>
        </li>
      );
    })
  }
</ul>
