---
import { Icon } from "astro-icon";

const socialButton = [
  {
    icon: "eva:linkedin-outline",
    url: "https://www.linkedin.com/in/domenico-tenace/",
  },
  {
    icon: "eva:github-outline",
    url: "https://github.com/DomeT99",
  },
  {
    icon: "eva:twitter-outline",
    url: "https://twitter.com/dome_tena99",
  }
];
---

<ul class="is-flex is-flex-direction-row">
  {
    socialButton.map((button) => {
      return (
        <li class="p-2">
          <a class="button is-rounded" href={button.url}>
            <Icon size={32}  name={button.icon} />
          </a>
        </li>
      );
    })
  }
</ul>
